/* Styles for Tabula plugin */
.tabula-csv-table {
  width: 100%;
}

.markdown-rendered .tabula-csv-table td.tabula-csv-table-guide-cell,
.markdown-rendered .tabula-csv-table .tabula-csv-table-guide-row td {
  font-size: small;
  font-weight: bold;
  background: var(--table-header-background);
  color: var(--table-header-color);
}

.markdown-rendered .tabula-csv-table td.tabula-csv-table-guide-cell {
  width: 1.8em;
  min-width: 1.8em;
}
.markdown-rendered .tabula-csv-table td.tabula-csv-table-guide-cell {
  text-align: center;
}
